# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
backend/venv/

# Environment variables
.env

# Docker
*.log
docker-compose.override.yml

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Misc
*.bak
*.tmp
